version: '3.1'

services:
  postgres:
    image: postgres:latest
    container_name: Node-GQL-Container
    environment:
      POSTGRES_USER: ghost
      POSTGRES_PASSWORD: test1234
      POSTGRES_DB: gql-demo
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
